<div class="hero-container">
	<div class="hero" id="test">
		{{#with hero}}
		<div class="hero-content">{{>hero}}</div>
		<div class="slider">
			<img src="{{photo}}" alt="photo" class="hero-img">
		</div>
		{{/with}}
	</div>
</div>

<main class="blog">
	{{#each blog}}
	{{>template-card}}
	{{/each}}
</main>

<div class="form">
	{{#with form}}
	<div class="form-content">
		<h3 class="form-title">{{title}}</h3>
		<p class="form-text">{{info}}</p>
	</div>
	<a href="#" class="button form-button">{{button}}</a>
	{{/with}}
</div>
{{!--
<div class="position-container">
	<div class="position-test">{{hero.text}}</div>
	<button class="test-button">stop</button>
	<button class="position"></button>
</div>

<main class="blog">
	{{#each blog}}
	{{>template-card}}
	{{/each}}
</main>

<main class="blog">
	{{#each blog}}
	{{>template-card}}
	{{/each}}
</main>

<main class="blog">
	{{#each blog}}
	{{>template-card}}
	{{/each}}
</main>

<div>
	{{hero.text}} {{hero.text}}
	<img src="{{hero.photo}}" alt="photo" class="img-float">
	<p class="clear-text">{{hero.text}} {{hero.text}} {{hero.text}} {{hero.text}} {{hero.text}}</p>
	<input type="text" class="caret">
</div> --}}