<style>
	.nav-button--active {
		background-color: #0d6efd;
	}

	.nav-button {
		font-size: 20px;
		padding: 8px;
		width: 100%;
	}

	.nav-button {
		display: flex;
		align-items: center;
		gap: 12px;
		padding: 12px;
		text-decoration: none;
	}

	.text-white {
		color: #fff;
	}

	.radius-small {
		border-radius: 4px;
	}

	.click {
		transition: opacity, 0.7s;
		cursor: pointer;
	}

	.click:hover {
		opacity: var(--opacity-1);
	}

	.click:active {
		opacity: var(--opacity-2);
	}

	.radiox,
	.radioxx,
	.radioxxx {
		display: none;
	}

	.radio-label {
		background-color: white;
		border: 2px solid #000;
		padding: 10px;
		border-radius: 8px;
		display: flex;
		flex-direction: column;
		gap: 4px;
		cursor: pointer;
	}

	.radio-label div {
		height: 4px;
		background-color: #333;
		width: 20px;
		border-radius: 2px;
	}

	.radio-label-2 {
		background-color: #545454;
		padding: 20px 10px;
		border-radius: 12px;
		position: absolute;
		top: 12px;
		right: 12px;
		color: white;
		cursor: pointer;
	}

	.radio-label-2>div {
		width: 30px;
		height: 4px;
		background-color: #fff;
		border-radius: 4px;
	}

	.radio-label-2 div:first-child {
		transform: rotate(45deg);
		position: relative;
		top: 4px;
	}

	.radio-label-2 div:last-child {
		transform: rotate(135deg);
	}

	.radio-label-3 {
		display: block;
		position: fixed;
		bottom: 0px;
		right: 0px;
		height: 0px;
		z-index: 100;
		width: 100%;
	}

	.menu {
		display: flex;
		justify-content: start;
		justify-items: stretch;
		align-items: start;
		position: fixed;
		left: -100%;
		padding: 80px 24px;
		top: 0px;
		z-index: 100;
		width: 250px;
		height: 100%;
		transition: left 0.7s;
		background-color: #212529;
	}

	.menu .pagelist {
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 12px;
		width: 100%;
	}

	.menu .pagelist .pagef {
		background-color: #e7e7e7a3;
		padding: 6px 8px;
		border-radius: 12px;
		width: 100%;
	}

	.radiox:checked~.menu {
		left: 0px;
		padding: 80px 24px;
	}

	.radiox:checked~.radio-label-3 {
		height: 100%;
		width: calc(100% - 250px);
	}

	.nav-button {
		font-size: 20px;
		padding: 8px;
		width: 100%;
	}

	@media all and (width >=1000px) {
		.sticky {
			display: none;
		}
	}

	@media all and (width < 1000px) {
		.header nav {
			display: none;
		}

		.page {
			display: flex;
			flex-direction: column;
		}

		.header_icons {
			display: none;
		}

		.aside {
			display: none;
		}
	}
</style>

<div class="sticky">
	<input type="radio" name="testx-mob" id="testx-mob" class="radiox">
	<label class="radio-label" for="testx-mob">
		<div></div>
		<div></div>
		<div></div>
	</label>

	<div class="menu">
		<input type="radio" name="testx-mob" id="testxx-mob-2" class="radioxx">
		<label class="radio-label-2" for="testxx-mob-2">

			<div></div>
			<div></div>

		</label>
		<div class="pagelist">
			{{#each header}}
			{{#if navbuttonactive}}
			<a href='{{url}}' class='nav-button nav-button--active text-white radius-small click'>{{text}}</a>
			{{else}}
			<a href='{{url}}' class='nav-button text-white radius-small click'>{{text}}</a>
			{{/if}}
			{{/each}}
		</div>
	</div>
	<input type="radio" name="testx-mob" id="testxx-mob-3" class="radioxxx">
	<label class="radio-label-3" for="testxx-mob-3"></label>
</div>