{{#each preview}}
<div class="preview flex-item">
	<div class="preview-head">
		<span class="preview-date">{{date}}</span>
		{{#each category}}
		<span class="preview-category preview-category-{{id}}">{{text}}</span>
		{{/each}}
	</div>
	<strong class="preview-title">{{title}}</strong>
	<p class='preview-text'>{{text}}</p>
	<a class="preview-link" href="#">Continue reading</a>
</div>
{{/each}}